<%= link_to "Home", root_path %>

<%= form_with model: @website do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>