<h2>Add Website</h2>

<%= form_with model: @website do |form| %>
  <div>
    <%= form.label :title, "Website Name" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :url, "URL" %><br>
    <%= form.text_area :url %>
  </div>

  <div>
    <%= form.submit "Add Website" %>
  </div>
<% end %>