<h1>Tagsite Admin</h1>

<%= link_to "Home", root_path %>

<%= link_to "New Website", new_website_path %>

<%= link_to "New Tag", new_tag_path %>
	
<%= render "search" %>

<% @websites.each do |website| %>
	<%= link_to "Edit", edit_website_path(website) %>
	<%= button_to "Delete", website, method: :delete %>
	<%= link_to website.title, "http://#{website.url}" %>
	<%= website.url %>
<% end %>

<br>

<% @tags.each do |tag| %>
<%= link_to "Edit", edit_tag_path(tag) %>
<%= tag.title %>
<% end %>