<h1>Tagsite</h1>

<%= link_to "Admin", "/websites/admin" %>
	
<%= form_with url: "/websites", method: :get do |form| %>
<%= form.label :search, "Search for:" %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>
	
<%= form_with url: "/websites", method: :get do |form| %>
<%= form.submit "Clear" %>
<% end %>

	
<% @websites.each do |website| %>
<ul>
	<%= link_to website.title, "http://#{website.url}" %>
	<%= website.url %>
</ul>
<% end %>