<h1>Tagsite</h1>

<%= link_to "Admin", "/websites/admin" %>
	
<%= render "search" %>

	
<% @websites.each do |website| %>
<ul>
	<%= link_to website.title, "http://#{website.url}" %>
	<%= website.url %>
</ul>
<% end %>
	
<% @tags.each do |tag| %>
<%= tag.title %>
<% end %>