<%= link_to "Home", root_path %>
<%= link_to "Admin", "/websites/admin" %>

<%= form_with url: "/tags/new", model: @tag, method: :post do |form| %>
  <div>
    <%= form.label :title, "Tag Title" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit "Add Tag" %>
  </div>
<% end %>

<% @tags.each do |tag| %>
<ul>
<%= button_to "Delete", @tag, method: :delete %>
<%= tag.title %>
</ul>
	
<% end %>
